@import "~bootstrap/dist/css/bootstrap.min.css";

body {

  background-image: url(https://cdn.videvo.net/videvo_files/video/free/2016-06/small_watermarked/160323_15_PokerTracking1_1080p_preview.mp4);
  font-family: "Courgette", cursive;
  background-size: cover;
}

header,
#cardList,
#cardListOrdered {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.row {
  display: flex;
  flex-direction: row;
}

section {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

input,
button,
form {
  display: inline-block;
}

#card {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 0.2rem;
  width: 70px;
  height: 85px;
  border-radius: 12px;
  margin-top: 15px;
  border: 2px;
  border-style: solid;
  border-color: black;
}

.buttonBox {
  margin: 20px auto;
  text-align: center;
  font-family: "Courgette", cursive;
}

.topBox,
.bottomBox {
  height: 25%;
  font-size: 1.25em;
  display: block;
  margin-left: 10%;
}

.bottomBox {
  margin-right: 10%;
  transform: rotate(180deg);
}

.centerBox {
  height: 50%;
  text-align: center;
  font-size: 1.5em;
  display: block;
  align-content: center;
}

.button-style {
  border-color: red;
  background-color: black;
  color: red;
  font-weight: bold;
  font-size: 1.5em;
}

p {
  color: black;
  font-weight: bold;
}
