@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
  /* background-image: url(https://media.giphy.com/media/3ov9jUCYetT3GVwcy4/giphy-downsized-large.gif); */
  font-family: "Courgette", cursive;
  background-size: cover;
}

header,
#cardList,
#cardListOrdered {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.row {
  display: flex;
  flex-direction: row;
}

section {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

input,
button,
form {
  display: inline-block;
}

#card {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 0.5rem;
  width: 100px;
  height: 125px;
  border-radius: 25px;
  margin-top: 50px;
  border: 2px;
  border-style: solid;
  border-color: black;
}

.buttonBox {
  margin: 20px auto;
  text-align: center;
  font-family: "Courgette", cursive;
}

.topBox,
.bottomBox {
  height: 25%;
  font-size: 2em;
  display: block;
  margin-left: 10%;
}

.bottomBox {
  margin-right: 10%;
  transform: rotate(180deg);
}

.centerBox {
  height: 50%;
  text-align: center;
  font-size: 2.5em;
  display: block;
  align-content: center;
}

.button-style {
  border-color: red;
  background-color: black;
  color: red;
  font-weight: bold;
}

p {
  color: black;
  font-weight: bold;
}
